/*page InvestorHome*/
.cycles{
    background: linear-gradient(to bottom, #112B3A, #438E9B);
}
.cycles img , .FS img , .NewCycle img{
    width: 25%;
    margin: 15px;
    
}
.FS{
    background: linear-gradient(to bottom, #5FBAEF, #192F31);
}
.NewCycle{
    background: linear-gradient(to bottom, #146B61, #4E8EB3);
}
.ChartInv{
    width: 50%;
    display: flex;
    justify-self: center;
}
/* .bgInv{
    background-image: url("/public/assets/Invbg.png");
   
} */
.whitecolor{
    color: white;
}
.FS , .cycles ,.NewCycle{
  width: 30%;
  height:240px;
  margin: 50px ;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  color:white;
  cursor: pointer;
  box-Shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
    
}
.tooltip_textInv {
    position: absolute;
    color: gray;
    bottom: -60px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 17px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
  }
  .FS:hover .tooltip_textInv,
  .NewCycle:hover .tooltip_textInv,
  .cycles:hover .tooltip_textInv {
    visibility: visible;
    opacity: 1;
  }
 
  .FS,
  .NewCycle,
  .cycles
  {
    position: relative;  
  }
  .down{
    display: block; /* يجعل كل عنصر في سطر منفصل */
      margin-bottom: 10px; /* إضافة مسافة بين العناصر */
  }
  .parentfilter{
   margin-bottom: 15px;
  }
 