body {
    font-family: Arial, sans-serif;
    direction: rtl;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  .footer {
    background-color: #1F1E17;
    color: #ffffff;
    padding: 90px;
    margin-top: 500px;
    line-height: 1.5;
    text-align: right;
  }
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:30px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
  }
  .footer_column {
    flex: 1 1 250px;
    margin-bottom: 20px;
    color: #878680;
  }
 
  .footer_column a{
    text-decoration: none;
    color: #878680;
  }
  .footer_column h3{
    color: #ffffff;
  }
  .green_text {
    color: #4CAF50;
  }
  .yellow_text{
    color: darkgoldenrod;
}
.social_icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
 
  .footer_bottom {
    background-color: #1F1E17;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    font-size: 15px;
   border-top: 1px solid #333;
  padding: 20px;
  color: #ffffff;
}
/* Style.module.css */
.Nav {
  background-color:#1F1E17; 
  color: #ffffff; /* لون النص */
  margin: 0;
  padding: 0;
}

.navList {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 60px;
  margin: 0;
  list-style: none;
  gap:8%;
}

.nav-item {
  margin-right: 20px; /* إضافة مسافة بين العناصر في القائمة */
}

.loginButton {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  margin: 0 20px; /* تقليل المسافة بين الأزرار */
}

.registerButton {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  border-color: #28a745; /* تحديد اللون الأخضر */
  background-color: #ffffff;
}

/* إضافة تنسيق لأزرار البحث */
form .form-control {
  border-radius: 50px; /* جعل حدود شريط البحث دائرية */
  width: 200px; /* تحديد عرض شريط البحث */
}

button svg {
  width: 20px; /* ضبط حجم الأيقونة */
  height: 20px;
}






